<section class="riedsma-slider">

  <p class="riedsma-slider_question">"Get sleep, eat healthy, drink water, exercise alot and Repeat"</p>

  <p class="riedsma-slider_question">"A good laugh and long sleep are the two best cures for anything"</p>


  <p class="riedsma-slider_question">"Sleep is the best medication"
</p>

  <p class="riedsma-slider_question"> "Enough sleep is just as good as a good nutrition and exercise"</p>

  <p class="riedsma-slider_question">"Sleep is that golden chain that ties health and our bodies together"</p>

</section>
