<form action="/calculate" method="post">
 <label>What time did you sleep?</label>
 <input type='time' name= 'sleep' />
   <label>What time did you wake up?</label>
 <input type='time' name='wake'/>
   <input type='submit'/>
 </form>
