<!DOCTYPE html>
<html lang="en">
​
<head>
​
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
​
    <title>Strategies</title>
     <h1>Some sleep info</h1>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
​
    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">
​
    <!-- Custom Fonts -->
    <!-- <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
​
<style type="text/css">
  body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
  }
​
  h1 {
  font-size:3em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}
</style>
</head>
​
<body>
  <div class="container col-lg-12 col-xs-12">
    <ul class="buttons">
        <a href="/" class="btn btn-danger btn-lg text-center">Home</a>
    </ul>
    <div>
        <h2>Best way to dealing with Exhaustion</h2>
        <ul>
          <li>Get into the sun.</li>
          <li>Carpool or take the bus.</li>
          <li>Protect your health.</li>
          <li>Eat several small meals instead of large, heavy ones.</li>
          <li>Avoid caffeine.</li>
          <li>Resist the urge to channel your crankiness.</li>
          <li>Be gentle with yourself.</li>
          <li>Catnap if you can.</li>
        </ul>
​
        <h2>How to stop oversleeping</h2>
          <ul>
            <li>Avoid hitting the snooze button on your alarm, rather If possible, get an alarm without a snooze button.
              <br> Or disable the snooze option on your existing alarm.</li>
            <li>Put your alarm clock in your living room</li>
            <li>Make your morning routine positive and consistent by get up and stretch, open the curtains of your room and let the morning light in.<br> Treat the morning like a positive experience and commit to looking forward to your day.</li>
            <li>Keep a regular sleep schedule</li>
          </ul>
​
        <h2>Why we need to avoid lack of sleep</h2>
          <p>
            <h4>Sleepiness Causes Accidents</h4>

              Studies show that sleep loss and poor-quality sleep also lead to accidents and injuries on the job. In one study, workers who complained about excessive daytime sleepiness had significantly more work accidents, particularly repeated work accidents. They also had more sick days per accident.<br>
​
            <h4>Sleep Loss Dumbs You Down</h4>

              Sleep plays a critical role in thinking and learning. Lack of sleep hurts these cognitive processes in many ways. First, it impairs attention, alertness, concentration, reasoning, and problem solving. This makes it more difficult to learn efficiently.Second, during the night, various sleep cycles play a role in “consolidating” memories in the mind. If you don’t get enough sleep, you won’t be able to remember what you learned and experienced during the day.<br>

            <h4>Sleep Deprivation Can Lead to Serious Health Problems</h4>
​
              Sleep disorders and chronic sleep loss can put you at risk for: Heart disease, heart attack, heart failure, irregular heartbeat, high blood pressure, stroke and diabetes.<br>
​
            <h4>Lack of Sleep Kills Sex Drive</h4>

              Sleep specialists say that sleep-deprived men and women report lower libidos and less interest in sex. Depleted energy, sleepiness, and increased tension may be largely to blame.<br>
​
             <h4>Sleepiness Is Depressing</h4>

              Over time, lack of sleep can contribute to the symptoms of depression. Sleep loss often aggravates the symptoms of depression, and depression can make it more difficult to fall asleep. <br>
​
          </p>
        </ul>
    </div>

  </container>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
​
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
​
</body>
​
</html>
